html{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #f5f5f5;
}

body{
    background-color: #212121;
}

.main-div{
    text-align: center;
    padding: 0% 5% 0% 5%;
}

.braincell{
    border: #f5f5f5;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
}

.braincell-div{
    width: fit-content;
}

.content{
    display: flex;
    column-gap: 300px;
}

.calculators{
    padding-top: 10px;
}

.calc-dropdown{
    padding: 5px;
    border: #f5f5f5 solid 2px;
    border-radius: 6px;
    font-size: 35px;
    font-weight: 700;
}