html{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #f5f5f5;
}

body{
    background: 
        url("./mountain2.png") bottom center / contain no-repeat, 
        linear-gradient(rgba(0, 0, 0, 1), rgba(41, 0, 60, 1));
}

.main-div{
    
    text-align: center;
    padding: 0% 5% 0% 5%;
}

.content{
    display: flex;
    column-gap: 300px;
}
